body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    border-radius: 5px;
    width: 200px;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: black;
        }
        #player {
            position: fixed;
            z-index: -1;
            left: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
        #playButton {
            font-size: 20px;
            padding: 15px 30px;
            cursor: pointer;
            background-color: white;
            border: none;
            border-radius: 5px;
            position: absolute;
            z-index: 10;
        }
        #audioPlayer {
            display: none;
            position: absolute;
            bottom: 20px;
        }
